
body{
  

width: 836px;
  height: 578px; 
  background: #041118;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);


}

.nav{

width: 1200px;
height: 60px;
top: 32px;
left: 80px;
right: 93px;
bottom: 486px;

}

.home{
  /* Home */
  top: 61px;
  left: 418px;
  right: 370px;
  bottom: 494px;

position: absolute;
width: 48px;
height: 23px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #42B9FC;
}

.about{
/* About */
  top: 61px;
  left: 483px;
  right: 305px;
  bottom: 494px;

position: absolute;
width: 48px;
height: 23px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #42B9FC;
}

.skills{
/* Skills */

top: 61px;
  left: 549px;
  right: 239px;
  bottom: 494px;

position: absolute;
width: 48px;
height: 23px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #42B9FC;

}

.blogs{
/* Blogs */
top: 61px;
  left: 615px;
  right: 174px;
  bottom: 494px;


position: absolute;
width: 47px;
height: 23px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
/* identical to box height */


color: #42B9FC;
}

.contacts{
  /* Contact */

  top: 61px;
  left: 679px;
  right: 93px;;
  bottom: 494px;

position: absolute;
width: 64px;
height: 31px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;

color: #42B9FC;

}

.logo{
  /* F */
  top: 32px;
  left: 80px;
  right: 696px;
  bottom: 486px;
width: 60px;
height: 60px;
position: absolute;
font-family: 'Lobster Two', cursive;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 75px;

color: #42B9FC;


}


ul {
 
  list-style-type: none;
 
}

.texto{
  /* Hi there */
  top: 227px;
  left: 80px;
  right: 603px;
  bottom: 315px;

position: absolute;
width: 153px;
height: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #A3D3FF;
}

.texto1{
/* I’m Fahim */

top: 251px;
left: 75px;
  right: 409px;
  bottom: 251px;
position: absolute;
width: 352px;
height: 68px;
margin-top: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 90px;

color: #00AFFA;

}

.texto2{
/* I am a web designer */
top: 338px;
left: 80px;
  right: 418px;
  bottom: 198px;

position: absolute;
width: 338px;
height: 42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #A3D3FF;
}

.texto3 {
 
    /* I am a web designer */
    top: 338px;
left: 149px;
  right: 418px;
  bottom: 198px;
    position: absolute;
    width: 338px;
    height: 42px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #42B9FC;
    
}

.i{
  top: 338px;
left: 80px;
  right: 418px;
  bottom: 198px;

position: absolute;
width: 338px;
height: 42px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;


  color:#A3D3FF;
  
}
.img1{
  /* Vector */
  top: 498.5px;
  left: 414px;
    right: 414px;
    bottom: 75.5px;


position: absolute;
width: 8px;
height: 4px;


}

.img2{
  /* Vector */
  top: 490px;
  left: 408px;
    right: 408px;
    bottom: 68px;


position: absolute;
width: 20px;
height: 20px;


}
